<%- include('includes/head', { pageTitle: 'Not authenticated' }) %>
</head>
<body>
    <%- include('includes/header') %>
    <main>
        <h1>Not authenticated!</h1>
        <p>You are not authenticated to visit this page!</p>
        <p><a class="btn" href="/login">You need to log in!</a></p>
    </main>
    
<%- include('includes/footer') %></form>