<%- include('includes/head', { pageTitle: 'Missing resource' }) %>
</head>
<body>
    <%- include('includes/header') %>
    <main>
        <h1>Could not find the resource</h1>
        <p>Unfortunately, we could not find the requested resource in our database!</p>
        <p><a class="btn" href="/">Back to safety!</a></p>
    </main>
    
<%- include('includes/footer') %></form>