#products-grid {
  margin: var(--space-8) auto;
  display: grid;
  /* The repeat method allows us to repeat the same settings for multiple columns. 
  Auto-fill indicates that the browser (based on the available screen width) will generate the number of columns. 
  To make auto-fill works, we need to pass a 2nd value that indicates the width/size of the columns. We do it with the minmax().
  minmax() takes 2 params, a minimum and a maximum value, and then the browser will size the columns appropriately based on their content and the available space in the browser. */
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: var(--space-4);
}

.product-item {
  border-radius: var(--border-radius-medium);
  text-align: center;
  background-color: var(--color-gray-600);
  overflow: hidden; /* This ensures that any content from this container that would be outside the container/box is cut off. */
}

.product-item img {
  width: 100%;
  height: 10rem;
  object-fit: cover;
}

.product-item-content {
  padding: var(--space-4);
}

.product-item-content h2 {
  font-size: 1.25rem;
  margin: var(--space-2) 0;
}

.product-item-actions {
  display: flex;
  gap: var(--space-2);
  margin-top: var(--space-4);
  justify-content: center;
}
